/* General CSS */

html {   
    font-family: 'Roboto', sans-serif;
}

body {
    padding-top: 70px;
    background-image: url(Index_wallpaper.jpg);
    background-color: rgb(247, 247, 247);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.jumbotron {
    background-color: rgba(247, 247, 247, 0.5);
}

.navbar-default {
    background-color: rgba(247, 247, 247, 0.99);
}

#mainContainer {     
    max-width: 900px;
    margin: auto;
    align-content: center;
}

h3 {
    margin: 10px 0 10px 10px;
}

#menu {
    background-color: black;
    font-family: 'Roboto', sans-serif;
    color: white;
    width: 750px;
    height: 28px;
    text-indent: 5px;
    border-radius: 5px;
    display: inline-block;
    margin: 0 0 0 0;
    }

.topMenu {
    color: white;
    text-decoration-line: none;
    margin: 0px 10px 0px 10px;
    padding: 0px 0px 0px 0px;
    vertical-align: -webkit-baseline-middle;
}

#footer {
    text-align: right;
    width: 100%;
    margin: 10px 0 10px 0;
    padding: 0 5px 0 0;
    color: white;
}

/* Counter CSS */

.counter {
    text-align: center;
    display: block;
    padding: 50px 0 50px 0;
    font-size: 50px;
    font-weight: bold;
    }
#counterNumber {
    padding: 0px 0 5px 0px;
    }

/* Calculator CSS */

.calculator {
    display:inline-block;
    height: auto;
    width: 230px;
    resize: none;
    padding: 5px 5px 5px 5px;
    text-align: center;
    border: 1px solid black;
    background-color: rgba(238, 238, 238, 0.9);
}

#displayPadding {
    padding: 5px 0px 0px 0px;
    }

#displayNumber {
    padding: 10px 10px 10px 10px;
    text-align-last: right;
    border: 1px solid black;
    }

.calculatorKeys {
    display: grid;
    grid-gap: 2px;
    grid-template-columns: repeat(4, 1fr);
    }

#equalKey {
    grid-column: -2;
    grid-row: 2 / span 4;
    }

/* Canvas CSS */ 

.elements {
    display: block;
    padding: 0 10px 0px 10px;
    font-size: 14px;
        }  

.elementsSec {
    background-color: rgba(247, 247, 247, 0.9);
    padding: 5px 0 5px 0;
    margin: 10px 0 0 0;
        } 

canvas {
    flex: 1 1 auto;
    border: 1px solid white;
}
     
/* Riding Stats CSS */ 

.statsBandit {
    display:block;
    height: auto;
    text-align: right;
    align-content: right;
    background-color: rgba(247, 247, 247, 0.5);
}       

/* Blog and Todo CSS */ 
               
.wLine {
    text-decoration: line-through;
}

label {
    display: block;
    margin: 0px 0px 20px;
}

input {
    display:block;
    height: 22px;
    width: 725px;
    text-align: left;
}

#idSubmit {
    width: 85px;
    text-align: center;
}

.postSec{
    display:block;
    height: auto;
    width: 748px;
    resize: none;
    border: 1px solid black;
    background-color: rgba(247, 247, 247, 0.7);
}

.tittle{
    display: inline-block;
    height: auto;
    width: 730px;
    resize: none;
    margin: 20px 10px 0 10px;
    word-wrap:break-word;
    overflow: auto;
    text-decoration-line: underline;
    font-weight: bold;
    
}

#inputTittle {
    width: 748px;
    background-color: rgba(247, 247, 247, 0.7);
}

.post{
    display:block;
    height: auto;
    width: 730px;
    resize: none;
    margin: 10px 10px 5px 10px;
    word-wrap:break-word;
    overflow: auto;
    padding: 0px 0px 5px 0px;
}

.postMainPage{
    display:block;
    height: auto;
    width: 730px;
    resize: none;
    margin: 10px 10px 5px 10px;
    word-wrap:break-word;
    overflow: auto;
    padding: 0px 0px 40px 0px;
    border-bottom: 1px solid rgb(146, 146, 146);
}

.delete {
    display: block;
    text-align: right;
    align-content: right;
    border-bottom: 1px solid rgb(146, 146, 146);
    margin: 0px 10px 20px 10px;
    padding: 0px 0px 5px 0px;
}

#inputPostText{
    display:block;
    height: 100px; 
    width: 748px;
    resize: none;
    background-color: rgba(247, 247, 247, 0.7);
}

#inputPostId{
    display:block;
    height: 22px; 
    width: 88px;
    resize: none;
    background-color: rgba(247, 247, 247, 0.7);
}
