html {
    background-color: rgb(247, 247, 247);
    margin: 20px 30px;
}
#mainContainer {
    align-content: center;
    width: 800px;
    margin: auto;
}
#logo {
    background-color: black;
    color: white;
    width: 750px;
    height: 45px;
    text-indent: 10px;
    border-radius: 5px;
    vertical-align: -webkit-baseline-middle;
    font-size: 37px;
    
    }
#menu {
    background-color: black;
    color: white;
    width: 750px;
    height: 28px;
    text-indent: 5px;
    border-radius: 5px;
    display: inline-block;
    }
.topMenu {
    color: white;
    text-decoration-line: none;
    margin: 0px 10px 0px 10px;
    padding: 0px 0px 0px 0px;
    vertical-align: -webkit-baseline-middle;
}
.counter {
    text-align: center;
    display: block;
    padding: 50px 0 50px 0;
    font-size: 50px;
    font-weight: bold;
    }
    #counterNumber {
        padding: 0px 0 10px 0;
        
        }     
.wLine {
    text-decoration: line-through;
}
label {
    display: block;
    margin: 0px 0px 20px;
}
input {
    display:block;
    height: 22px;
    width: 750px;
    text-align: left;
}
#idSubmit {
    width: 85px;
    text-align: center;
}
.postSec{
    display:block;
    height: auto;
    width: 750px;
    resize: none;
    border: 1px solid black;
}
.tittle{
    display:block;
    height: auto;
    width: 730px;
    resize: none;
    margin: 20px 10px 0 10px;
    word-wrap:break-word;
    overflow: auto;
    text-decoration-line: underline;
    font-weight: bold;
    
}
.post{
    display:block;
    height: auto;
    width: 730px;
    resize: none;
    margin: 10px 10px 5px 10px;
    word-wrap:break-word;
    overflow: auto;
    padding: 0px 0px 5px 0px;
}

.delete {
    display: block;
    text-align: right;
    align-content: right;
    border-bottom: 1px solid rgb(146, 146, 146);
    margin: 0px 10px 20px 10px;
    padding: 0px 0px 5px 0px;
}
textarea{
    display:block;
    height: 100px; 
    width: 750px;
    resize: none;
}
#footer {
    text-align: right;
    width: 750px;
    margin: 10px 0 0 0;
    color: rgb(146, 146, 146);
}