/* General CSS */

html {   
    font-family: 'Roboto', sans-serif;
}

body {
    padding-top: 70px;
    background-image: url(imgs/Index_wallpaper.jpg);
    background-color: rgb(247, 247, 247);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.jumbotron {
    background-color: rgba(247, 247, 247, 0.5);
}

#mainContainer {     
    max-width: 900px;
    margin: auto;
    align-content: center;
}

h3 {
    margin: 10px 0 10px 10px;
}

#footer {
    text-align: right;
    width: 100%;
    margin: 10px 0 10px 0;
    padding: 0 5px 0 0;
    color: white;
}

/* Counter CSS */

.counter {
    text-align: center;
    display: block;
    }

#counterNumber {
    font-size: 100px;
    font-weight: 700;
    }


/* Calculator CSS */

.calculator {
    display:inline-block;
    height: auto;
    width: 230px;
    resize: none;
    padding: 5px 5px 5px 5px;
    text-align: center;
    border: 1px solid black;
    background-color: rgba(238, 238, 238, 0.9);
}

#displayPadding {
    padding: 5px 0px 0px 0px;
    }

#displayNumber {
    padding: 10px 10px 10px 10px;
    text-align-last: right;
    border: 1px solid black;
    }

.calculatorKeys {
    display: grid;
    grid-gap: 2px;
    grid-template-columns: repeat(4, 1fr);
    }

#equalKey {
    grid-column: -2;
    grid-row: 2 / span 4;
    }

/* Canvas CSS */ 

.elements {
    display: block;
    padding: 0 10px 0px 10px;
    font-size: 14px;
        }  

.elementsSec {
    background-color: rgba(247, 247, 247, 0.9);
    padding: 5px 0 5px 0;
    margin: 10px 0 0 0;
        } 

canvas {
    flex: 1 1 auto;
    border: 1px solid white;
}
     
/* Riding Stats CSS */ 

.statsBandit {
    display:block;
    height: auto;
    text-align: right;
    align-content: right;
    background-color: rgba(247, 247, 247, 0.5);
}       

/* Blog and Todo CSS */ 

.AdminSec {
    background-color: rgba(247, 247, 247, 0.9);
    padding: 5px 60px 5px 60px;
    margin: 10px 0 10px 0;
    border-radius: 6px;
        } 
               
.wLine {
    text-decoration: line-through;
}

label {
    display: block;
    margin: 0px 0px 20px;
}

input {
    display:block;
    width: 100%;
    text-align: left;
}

#idSubmit {
    width: 85px;
    text-align: center;
}

.postSec{
    display:block;
    height: auto;
    width: 100%;
    resize: none;
    background-color: rgba(247, 247, 247, 0.9);
    padding: 5px 60px 5px 60px;
    border-radius: 6px;
}

.title{
    display: inline-block;
    height: auto;
    width: 100%;
    resize: none;
    margin: 20px 0px 0 0px;
    word-wrap:break-word;
    overflow: auto;
    font-weight: 700;
    font-size: 2.5em;
    
}

#inputTitle {
    width: 100%;
    background-color: rgba(247, 247, 247, 0.7);
}

.post{
    display:block;
    height: auto;
    width: 100%;
    resize: none;
    margin: 10px 0px 5px 0px;
    word-wrap:break-word;
    overflow: auto;
    padding: 0px 0px 40px 0px;
}

.delete {
    display: block;
    text-align: right;
    align-content: right;
    border-bottom: 1px solid rgb(146, 146, 146);
    margin: 0px 10px 20px 10px;
    padding: 0px 0px 5px 0px;
}

#inputPostText{
    display:block;
    height: 150px; 
    width: 100%;
    resize: none;
    background-color: rgba(247, 247, 247, 0.7);
    margin: 0 0 10px 0;
}

#inputPostId{
    height: 34px; 
    width: 90px;
    resize: none;
    background-color: rgba(247, 247, 247, 0.7);
}

#todoContainer{
    background-color: rgba(238, 238, 238, 0.7);
    padding: 10px 0 10px 0;
}

hr  {
    border: 0; 
    height: 1px; 
    background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0); 
}